
    .p1 {width: 800px; position: absolute; font-size: 25px; top: 190px; text-align: center; left: 600px; color: #FFF;}
    .p2 {width: 800px; position: absolute; font-size: 25px; top: 300px; text-align: center; left: 600px; color: #FFF;}

    h1 {position: absolute; top: 150px; left: 600px; color: #FFF;}

   

.fit {position: relative; top:500px;height: 400px;left: 10%;width: 500px;}
.d2d {position: relative; top:500px;height: 400px;left: 10%;width: 500px;}
.arth {position: relative; top:500px;height: 400px;left: 10%;width: 500px;}