.folder {position: relative; top: 150px;height: 500px;left: 20%;width: 600px;}
.p1 {font-size: 15px;color: #fff; text-align: left;
position: relative; top: 130px; left: 20%;
}

.livro { 
    position: relative; top: 150px;height: 500px;left: 39%;width: 600px;
}
.p2 {
    font-size: 15px;color: #fff; text-align: left;
    position: relative; top: 130px; left: 39%;
    }

    .revista { 
        position: absolute; top: 730px;height: 500px;left: 30%;width: 600px;
    }
    .p3 {
        font-size: 15px;color: #fff; text-align: left;
        position: relative; top: 1100px; left: -45%;
        }