.logo2 {position: absolute;left: 150px;top: 20px;}

p {width: 1000px; position: absolute; font-size: 25px; bottom: 300px; text-align: justify; left: 650px; color: #FFF;}

h1 {position: absolute; bottom: 500px; left: 650px; color: #FFF;}

